/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;  /* Texto en un color oscuro para mayor contraste */
}

html{
    scroll-behavior: smooth;
}

/* Resaltar el enlace activo */
nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover,
nav a:focus {
    color: #ffd700;
    transform: translateY(-2px); /* Efecto de levantamiento */
}

nav a.active {
    color: #ffd700;
    font-weight: bold;
    transform: translateY(-2px);
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;  /* Fondo blanco para la navbar */
    color: #333;  /* Texto oscuro */
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra sutil para mayor profundidad */
    border-bottom: 2px solid black;
}

/* Estilo de la marca */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Estilo del menú */
.navbar-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.navbar-menu li {
    font-size: 1rem;
}

.navbar-menu a {
    text-decoration: none;
    color: #333;  /* Texto oscuro para mantener el estilo minimalista */
    transition: color 0.3s ease, transform 0.3s ease;  /* Transición para el hover */
}

/* Efecto hover sutil para los enlaces */
.navbar-menu a:hover {
    color: #000;  /* Cambio de color a negro */
    transform: scale(1.05);  /* Sutil aumento del texto */
}

/* Hamburger Menu */
.navbar-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.navbar-toggle span {
    background-color: #333;  /* Línea hamburguesa en color oscuro */
    height: 3px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Estilos para la Sección de Inicio */
#inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 20px;
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro-content {
    flex: 1;
    padding-right: 20px;
    animation: fadeInLeft 1s ease-out;
}

.intro-title {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 20px;
    color: black;
    opacity: 0;
    animation: fadeInUp 1s 0.5s forwards;
}

.intro-description {
    font-size: 1.2em;
    line-height: 1.6;
    color: black;
    margin-bottom: 30px;
    opacity: 0;
    animation: fadeInUp 1s 1s forwards;
}

.cta .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.cta .btn:hover {
    background-color: grey;
    color: white;
}


/* Animaciones */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Sección de Productos */
#productos {
    padding: 3rem 2rem;
    text-align: center;
}

#productos h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
}

.product {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin: 1rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    margin-top: 1rem;
}

.product:hover {
    transform: scale(1.05); /* Escala al pasar el mouse */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.product:hover img {
    transform: scale(1.1);  /* Aumento de la imagen al pasar el mouse */
}

.product p {
    padding: 1rem;
    color: #666;
    font-size: 1rem;
}

/* Estilos generales para el botón */
.btn {
    display: inline-block;
    background-color: black; /* Color de fondo */
    color: white;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: grey; /* Cambio de color al pasar el mouse */
    transform: scale(1.05); /* Efecto de agrandamiento al hacer hover */
    color: white;
}

/* Sección de Sobre Nosotros */
#sobre-nosotros {
    padding: 4rem 2rem;
    background-color: #ffffff;
    text-align: center;
    color: #333;
}

#sobre-nosotros h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #333;
    animation: fadeInUp 1s ease-out;
}

.about-content {
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.8;
    text-align: left;
}

.about-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    animation: fadeInUp 1s ease-out;
}

/* Estilo para los valores */
.values {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.value-item {
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 10px;
    flex-basis: 28%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.value-item .icon {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.value-item h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.value-item p {
    font-size: 1rem;
    color: #666;
}

/* CTA */
.cta {
    margin-top: 3rem;
}

.cta a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

.cta a:hover {
    color: grey;
}

/* Estilo general para la sección de contacto */
#contacto {
    padding: 4rem 2rem;
    background-color: #ffffff;
    color: #333;
    text-align: center;
}

#contacto h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #333;
    animation: fadeInUp 1s ease-out;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.contact-info {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-item {
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.contact-item .icon {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-item h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.contact-item p {
    font-size: 1rem;
    color: #666;
}

.contact-item a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.contact-item a:hover {
    color: #333;
}

/* Estilo para el formulario */
.contact-form {
    margin-top: 3rem;
    text-align: center;
}

.contact-form h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #333;
    animation: fadeInUp 1s ease-out;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 500px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #ffd700;
    outline: none;
}

.contact-form button {
    padding: 1rem;
    font-size: 1.1rem;
    background-color: black;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: grey;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;  /* Eliminar márgenes */
    font-size: 14px;  /* Tamaño de la fuente */
}

/* Animaciones de Fade In */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Animaciones de Fade In */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación de Fade In */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Estilo de la página de detalles del producto */
#producto1-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6rem 2rem; /* Añadimos más espacio para un diseño más grande */
    text-align: center;
    background-color: #fff;
    min-height: 80vh; /* Aseguramos que ocupe un buen tamaño */
    margin-bottom: 2rem;
}

.producto-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
    animation: fadeIn 1s ease-in-out; /* Animación de entrada */
}

.producto-img {
    max-width: 100%;
    height: auto;
    width: 500px;  /* Imagen más grande */
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; /* Animación al hacer hover */
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.producto-img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el cursor */
}

.producto-description {
    max-width: 700px;  /* Hacemos la descripción más ancha */
    text-align: left;
    animation: slideIn 1s ease-out; /* Animación de entrada */
}

.producto-description h2 {
    font-size: 3.5rem;  /* Título más grande */
    margin-bottom: 1rem;
    color: #333;
    font-weight: bold;
}

.producto-description p {
    font-size: 1.4rem;  /* Descripción más grande */
    margin-bottom: 1.5rem;
    color: #666;
    line-height: 1.7;
}

.producto-description ul {
    list-style-type: none;
    padding-left: 0;
}

.producto-description li {
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #555;
}

/* Botón de volver */
.btn-back {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ffd700;
    color: white;
    font-size: 1.4em;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 3rem;
    transition: background-color 0.3s ease;
}

.btn-back:hover {
    background-color: #b99e00;
}

/* Animación de deslizamiento para los elementos de texto */
@keyframes slideIn {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animación de desvanecimiento para los elementos */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        background-color: #ffffff;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 1rem;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: flex;
    }

    #inicio {
        flex-direction: column;
        text-align: center;
        padding: 150px 20px; /* Reduce el padding en pantallas pequeñas */
        height: 80vh; /* Reduce la altura en pantallas pequeñas */
    }

    .intro-container {
        flex-direction: column;
        align-items: center;
    }

    .intro-content {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .intro-title {
        font-size: 2.5em;
    }

    .intro-description {
        font-size: 1.1em;
    }


    .cta .btn {
        font-size: 1em;
        padding: 12px 24px;
    }

    /* Estilo responsive de los productos */
    #productos {
        padding: 2rem;
    }

    .product {
        width: 100%;  /* Los productos se apilan verticalmente en pantallas pequeñas */
        max-width: 100%;
    }

    .btn {
        padding: 0.8rem 1.2rem;
        font-size: 0.9rem;
    }

    /* Ajustes para los valores en "Sobre Nosotros" */
    .values {
        flex-direction: column;
        align-items: center;
    }

    .value-item {
        flex-basis: 80%;
        margin-bottom: 2rem;
    }

    .contact-content {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .contact-info {
        flex: 1;
        min-width: 100%;
    }

    .contact-form {
        width: 100%;
        padding: 1rem;
    }

    .producto-info {
        flex-direction: column;
        align-items: center;
    }

    .producto-img {
        width: 100%;  /* Imagen se adapta a pantallas pequeñas */
        align-items: center;
    }
}

